@import "../../Style/variable.scss";
.navbar {
  width: 100%;
  padding: 1px 20px 0px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  display: flex;
  align-items: center;
}
img {
  width: 65px;
  height: 65px;
  //   border-radius: 50%;
}
.icons {
  display: flex;
  align-items: center;
  gap: 20px;
}
.icon {
  cursor: pointer;
}
.play {
  &:hover {
    background-color: $soft-bg;
    border-radius: 10px;
  }
}
.restart {
  padding: 20px 20px 10px 20px;
}
